<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start" (click)="onSave()"></ion-back-button>
    <ion-title class="ion-text-start">dog finder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
<div id="container">
  <ion-card>
    <ion-card-title>
      You as a Dog
    </ion-card-title>
    <ion-card-content>
      <img src="{{dogs}}">
    </ion-card-content>
    <ion-card-subtitle>
      Note: if there is more than one dog on your screen you came out of the machine as multiple dogs.
    </ion-card-subtitle>
  </ion-card>
</div>
</ion-content>
