<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start" (click)="onSave()"></ion-back-button>
    <ion-title class="ion-text-start">bakery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-card-title>Your wedding meal</ion-card-title>
      <ion-card-content>
        <img src="{{cakes}}">
      </ion-card-content>
      <ion-card-subtitle>{{cakeMessage}}</ion-card-subtitle>
    </ion-card>
  </div>
</ion-content>
