<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>wedding-meal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">wedding-meal</ion-title>
    </ion-toolbar>
  </ion-header>
  {{rand}}


  <div id="container">
    <ion-card>
      <ion-card-content>
        <img src="{{cakes}}">
      </ion-card-content>
    </ion-card>
    {{cakeMessage}}
    <br>
    <br>
    <br>
  </div>
</ion-content>
