<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <div id="Text">
      prologue: 50 years into the future...<br><br>

      Climate change has declined the planet's sustainability 
      and aleins have decided to step in by domesticating humans 
      into dogs using their DNA altering device..<br><br>

      despite this, the aliens have embraced our marital culture 
      by hosting dog weddings for their entertainment..<br><br>

      find out how your own dog wedding will go!
    </div>

    <div id="navigation">
      <ion-button [routerLink]="['/dog-selector']" size="small">What dog are you</ion-button>
      <ion-button [routerLink]="['/wedding-meal']" size="small">Wedding meal</ion-button>
      <ion-button [routerLink]="['/venue']" size="small">Venue</ion-button>
      <ion-button [routerLink]="['/weather']" size="small">Weather</ion-button>
    </div>

  </div>
</ion-content>
